html,
body {
  
  /* background: #1A1F42 !important; */
  font-size:62.5% !important;
  box-sizing: border-box;
  /* font-family: 'Roboto' !important;
  font-style: normal !important; */


}

.sidebar{
  width:100%;
  height: 108.0rem;
  background: rgba(255, 255, 255, 0.04);
  /* border-right: .2rem solid rgba(255, 255, 255, 0.07); */
  border:-1rem;
  box-shadow: .6rem 1.1rem 3.6rem -.4rem rgba(14, 19, 55, 0.17);
  backdrop-filter: blur(1.5rem);
}

.logo{
  /* position: absolute; */
  height: 4.1rem;
  margin-top:2.4rem;
  /* left: 1.98%;
  right: 87.86%; */
  /* top: calc(50% - 41px/2 - 1717.5px); */
  
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 800;
  font-size: 3.4rem;
  line-height: 4.1rem;
  /* identical to box height */
  /* text-transform: uppercase; */
  text-align: center;
  
  color: #FFFFFF;
  
  mix-blend-mode: normal;
}
.nav-custom{
  height:9.0rem;
  padding-left:9.0rem;
  padding-right:9.0rem;
  padding-top:2.0rem;
  box-sizing: border-box;
width:100%;
background: rgba(255, 255, 255, 0.04);
border-bottom: .2rem solid rgba(255, 255, 255, 0.07);
box-shadow: .6rem 1.1rem 3.6rem -.4rem rgba(14, 19, 55, 0.26);
backdrop-filter: blur(1.5rem);
}
.search-nav{
  padding: 1.5rem 0 1.5rem 2.0rem;
  gap: 1.5rem;
  width: 58.0rem;
  height: 5.0rem;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 5.2rem;
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  /* identical to box height, or 150% */


  color: #9A9BAA;

}

.nav-signin{
  width: 27.3rem;
  height: 5.0rem;
}
.nav-signin a{
background: rgba(5, 7, 30, 0.1);
border: .1rem solid rgba(255, 255, 255, 0.21);
border-radius: 2.5rem;

font-family: 'Urbanist';
font-style: normal;
font-weight: 800;
font-size: 1.8rem;
line-height: 2.2rem;
/* identical to box height */
padding: 1.4rem 3.1rem 1.4rem 3.1rem;
text-align: center;
margin-right:1.8rem;
color: #FFFFFF;
}

.m{
  max-width: 100vw;
}

.color-nav{
  background: #2960EC !important;
  box-shadow: 0rem 1.5rem 4.0rem rgba(0, 0, 0, 0.2);
}
.sImage {
  height:40vw;
  width:40vw;
  position:relative;
  top: -100px;
}

.sImage {
  height:40vw;
  width:40vw;
  position:relative;
  top: -100px;
}

.tImage {
  /* width: 50vw; */
  height: -webkit-fill-available;
  position:relative;
  /* top: -100px; */
}

.sImag {
  height:20vw;
  width:25vw;
  position:relative;
  top: -200px;
}
.ban{
  width:100px;
  height:100px;
}
.sImge {
  height: 700px;
 width:700px;
  position:relative;
  /* top: -200px; */
}
.padding-0{
  padding-right:0;
  padding-left:0;
}

.sIge{
  height:20vw;
  width:15vw;
  position:relative;
  top: -200px;
}
.sImge{
  height:20vw;
  width:15vw;
  position:relative;
  top: -200px;
}

.sIe{
  width:7.6rem;
  height:7.6rem;
  position:relative;
  
}
.unset-img {
  width: 100%;
}
.unset-img > div {
  position: unset !important;
}
.my-image{ 
  margin-top:0vh;
  /* width:100vw; */
  /* background-color:black; */
  height: 100em;
  /* width:100em; */
  /* position:absolute; */
  /* width:80%; */
  /* height:80%; */
  /* top: 10.69%; */
  /* left:20.31%; */
  /* margin-bottom: 4.0rem; */
} 
.my-images{
  width:83vw !important;
  height:100vh !important;
} 
.sideImg{
  position: absolute;
  width: 67.5rem;
  height: 35.0rem;
  left: 39.0rem;
  top: 150.3rem;
  filter: drop-shadow(0rem 1.8rem 3.5rem rgba(17, 19, 24, 0.25));
  border-radius: 1.2rem;
}
.sideImgs{
  position: absolute;
  width: 67.5rem;
  height: 35.0rem;
  left: 112.5rem;
  top: 150.3rem;
  filter: drop-shadow(0rem 1.8rem 3.5rem rgba(17, 19, 24, 0.25));
  border-radius: 1.2rem;
}

.foot{
  background: rgba(255, 117, 76, 0.05);
backdrop-filter: blur(12.5px);
}
.foot-2{
  font-family: 'Alegreya Sans SC';
font-style: italic;
font-weight: 800;
font-size: 3.4rem;
line-height: 4.1rem;
/* identical to box height */


/* White */

color: #FFFFFF;
}
.foot-1{
  font-family: 'Urbanist';
font-style: normal;
font-weight: 600;
font-size: 1.8rem;
line-height: 180%;
/* or 32px */


/* White */

color: #FFFFFF;
}
.smmm{
  width:100vw;
  height:auto;
  background-color:red;

}

.sign{
  background:#1A1F42;
  height:200vh;
}
.navt{
  background: rgba(255, 255, 255, 0.04);
border-bottom: .2rem solid rgba(255, 255, 255, 0.07);
box-shadow: .6rem 1.1rem 3.6rem -.4rem rgba(14, 19, 55, 0.26);
backdrop-filter: blur(1.5rem);
box-sizing: border-box;
color: #F0F0F0;

font-family: 'Urbanist';
font-style: normal;
font-weight: 700;
font-size: 4.0rem;
line-height: 5.5rem;
}
.log{
  background: rgba(5, 7, 30, 0.1);
border: .1rem solid rgba(255, 255, 255, 0.21);
border-radius: 2.5rem;
font-family: 'Urbanist';
font-style: normal;
font-weight: 800 !important;
font-size: 1.8rem !important;
line-height: 2.2rem !important;
/* identical to box height */

text-align: center !important;

color: #FFFFFF !important;
}

.inputse{
  padding: 1.5rem 0rem 1.5rem 2.0rem;
  gap: 1.5rem;
  width: 58.0rem;
height: 5.0rem;
font-family: 'Urbanist';
font-style: normal;
font-weight: 500;
font-size: 1.6rem;
line-height: 2.4rem;
/* identical to box height, or 150% */


color: #9A9BAA;
}
.reg{
  font-family: 'Urbanist';
font-style: normal;
font-weight: 800 !important;
font-size: 1.8rem !important;
line-height: 2.2rem !important;
/* identical to box height */
background: #2960EC;
box-shadow: 0rem 1.5rem 4.0rem rgba(0, 0, 0, 0.2) !important;
border-radius: 2.6rem !important;
text-align: center !important;

color: #FFFFFF !important;
}
.nav-text{
  font-family: 'Alegreya Sans SC' !important;
font-style: italic !important;
font-weight: 800 !important;
font-size: 3.4rem !important;
line-height: 4.1rem !important;
/* identical to box height */

text-align: center;

color: #FFFFFF !important;

mix-blend-mode: normal !important;
}

.seinput{
  background: rgba(255, 255, 255, 0.09) !important;
  border-radius: 5.2rem !important;
  padding:1.5rem !important;
  border:none;
}

.sis{
  padding-top:10rem !important;
}
.sisi-text{
  font-family: 'Urbanist';
font-style: normal;
font-weight: 700;
font-size: 4.0rem;
/* line-height: 5.5rem; */
/* identical to box height, or 138% */

text-align: center;

color: #F0F0F0 !important;
}
.sisi input{

font-family: 'Urbanist';
font-style: normal;
font-weight: 400;
font-size: 1.6rem !important;
line-height: 1.9rem !important;
padding:2rem;
color: rgba(255, 255, 255, 0.8);

background: rgba(255, 255, 255, 0.1)  !important;             
border: .1rem solid rgba(255, 255, 255, 0.6);
border-radius: 5.2rem;

}
.titi{
  width:60rem;
  text-align:center;
  justify-content: center;
}

.titii{
  width:70rem;
  text-align:center;
  justify-content: center;
}
.sisi{
  padding:7.1rem !important;
  width: 65vw;
gap:5.7rem;

height: 100vh;
  background: rgba(255, 255, 255, 0.04);
border: .1rem solid rgba(255, 255, 255, 0.07);
box-shadow: .6rem 1.1rem 3.6rem rgba(14, 19, 55, 0.17);
backdrop-filter: blur(1.5rem);
/* Note: backdrop-filter has minimal browser support */

border-radius: 2.6rem;
}
.htm{
  color:#E1E1E1 !important;
  font-family: 'Urbanist';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 1.9rem;
}
.f-btn{
  background: #2960EC !important;
  box-shadow:.6rem .6rem .6rem.3rem #2960EC; 
border-radius: 3.25rem !important;
font-family: 'Urbanist'!important;
font-style: normal !important;
font-weight: 800 !important;
font-size: 2.0rem !important;
line-height: 2.4rem !important;
/* identical to box height */

text-align: center !important;
width: 21.9rem;
height: 6.5rem;
color: #FFFFFF !important;

}
.myforgot{
  font-family: 'Urbanist';
font-style: normal;
font-weight: 500;
font-size: 1.6rem;
line-height: 1.9rem;
/* text-align: right; */

color: #FF754C;

}
.items-p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 146.28%;
/* or 23px */

display: flex;
align-items: center;

/* Main colors/base_main */

color: #FFFFFF;
}
.prce-side1{
  /* margin-left:4.7rem; */
  /* background: rgba(147, 158, 183, 0.5); */
/* transform: rotate(90deg); */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 2.4rem;
line-height: 146.3%;
/* or 35px */

/* display: flex;
align-items: center; */

/* Main colors/base_main */

color: #FFFFFF;
}
.pay-sidebar{
  padding-top:5.0rem;
  padding-left:3rem;
  padding-right:3rem;
  background: rgba(255, 255, 255, 0.09);
border: .1rem solid rgba(255, 255, 255, 0.07);
box-shadow: 2.4rem .9rem 4.0rem -.4rem rgba(14, 19, 55, 0.14);
backdrop-filter: blur(1.5rem);
align-items:flex-start;
gap:1.0rem;
/* Note: backdrop-filter has minimal browser support */
height:100%;
border-radius: 2.4rem 0rem 0rem 2.4rem;
}
.bg-light-cu{
  color: #FFFFFF !important;
  border: 1px solid #ffffff;
  width: -webkit-fill-available;
  background: #ffffff !important;
}
.main-n-pane h2{
  font-family: 'Urbanist';
  
font-style: normal;
font-weight: 900;
font-size: 3.0rem;
line-height: 146.3%;
/* identical to box height, or 44px */


/* Main colors/base_main */

color: #FFFFFF;
}
.main-n-pane{
  margin-top:5rem;
  margin-left:3rem;
  color:#FFFFFF !important;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin-right:3rem;
}
.main-pane{
  /* padding-top:30rem; */
  display: flex;
flex-direction: column;
align-items: flex-start;
width: -webkit-fill-available;
padding: 0rem;
gap: 4.0rem;
background: rgba(255, 255, 255, 0.04);
border: .1rem solid rgba(255, 255, 255, 0.07);
box-shadow: .6rem 1.1rem 3.6rem rgba(14, 19, 55, 0.17);
backdrop-filter: blur(1.5rem);
/* Note: backdrop-filter has minimal browser support */

border-radius: 2.4rem;

}

.innerbutton{
  font-family: 'Urbanist';
font-style: normal;
font-weight: 800;
font-size: 1.6rem !important;
line-height: 1.9rem;
text-align: center;
background: #2960EC !important;
border-radius: 2.75rem;
color: #FFFFFF     !important;
}
.con-cen{
  width: 141.0rem;
height:100%;
  background: rgba(255, 255, 255, 0.04);
border: .1rem solid rgba(255, 255, 255, 0.07);
box-shadow: .6rem 1.1rem 3.6rem rgba(14, 19, 55, 0.17);
backdrop-filter: blur(1.5rem);
/* Note: backdrop-filter has minimal browser support */

border-radius: 2.4rem;
}
.inner-pane{
  align-items: flex-start;
padding: 0rem;
gap: 2.0rem;
}
.below-item{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0rem;
gap: 1.5rem;
font-family: 'Urbanist';
font-style: normal;
font-weight: 600;
font-size: 1.8rem;
line-height: 146.28%;
/* or 26px */


/* Main colors/base_main */

color: #FFFFFF;
width: 34.9rem;
height: 20.399rem;

}

.into-inner{
  font-family: 'Urbanist';
font-style: normal;
font-weight: 500;
font-size: 1.8rem;
line-height: 141.3%;
/* or 25px */


/* Field/label_color */

color: #8693C4;
}
.into-inner small{

font-family: 'Urbanist';
font-style: normal;
font-weight: 600;
font-size: 1.5rem;
line-height: 141.3%;
/* or 21px */


color: #ACB5D7;
}

.into-inner input{
  font-family: 'Urbanist';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
width:33rem;
line-height: 146.3%;
/* or 23px */

display: flex;
align-items: center;

/* Field/placeholder_color */

color: #5D6476;
}
.pqz{
  font-family: 'Urbanist';
font-style: normal;
font-weight: 600;
font-size: 1.8rem;
line-height: 146.28%;
/* or 26px */


/* Main colors/base_main */

color: #FFFFFF;
}
.las{
  font-family: 'Urbanist';
font-style: normal;
font-weight: 600;
font-size: 1.5rem;
line-height: 146.28%;
/* identical to box height, or 22px */


/* Main colors/base_main */

color: #FFFFFF;
}