html,
body {
  
  background: #1A1F42 !important;
  font-size:62.5% !important;
  /* font-family: 'Roboto' !important;
  font-style: normal !important; */


}

.sidebar{
  /* width:30.0rem; */
  box-sizing: border-box;
  height: 108.0rem;
  /* left: 0px;
  top: 0px; */

  background: rgba(255, 255, 255, 0.04);
  border-right: .2rem solid rgba(255, 255, 255, 0.07);
  box-shadow: .6rem 1.1rem 3.6rem -.4rem rgba(14, 19, 55, 0.17);
  backdrop-filter: blur(1.5rem);
}

.logo{
  /* position: absolute; */
  height: 4.1rem;
  margin-top:2.4rem;
  /* left: 1.98%;
  right: 87.86%; */
  /* top: calc(50% - 41px/2 - 1717.5px); */
  
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 800;
  font-size: 3.4rem;
  line-height: 4.1rem;
  /* identical to box height */
  /* text-transform: uppercase; */
  text-align: center;
  
  color: #FFFFFF;
  
  mix-blend-mode: normal;
}
.nav-custom{
  height:9.0rem;
  padding-left:9.0rem;
  padding-right:9.0rem;
  padding-top:2.0rem;
  box-sizing: border-box;
width:100%;
background: rgba(255, 255, 255, 0.04);
border-bottom: .2rem solid rgba(255, 255, 255, 0.07);
box-shadow: .6rem 1.1rem 3.6rem -.4rem rgba(14, 19, 55, 0.26);
backdrop-filter: blur(1.5rem);
}
.search-nav{
  padding: 1.5rem 0 1.5rem 2.0rem;
  gap: 1.5rem;
  width: 58.0rem;
  height: 5.0rem;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 5.2rem;
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  /* identical to box height, or 150% */


  color: #9A9BAA;

}

.nav-signin{
  width: 27.3rem;
  height: 5.0rem;
}
.nav-signin a{
background: rgba(5, 7, 30, 0.1);
border: .1rem solid rgba(255, 255, 255, 0.21);
border-radius: 2.5rem;

font-family: 'Urbanist';
font-style: normal;
font-weight: 800;
font-size: 1.8rem;
line-height: 2.2rem;
/* identical to box height */
padding: 1.4rem 3.1rem 1.4rem 3.1rem;
text-align: center;
margin-right:1.8rem;
color: #FFFFFF;
}
.color-nav{
  background: #2960EC !important;
  box-shadow: 0rem 1.5rem 4.0rem rgba(0, 0, 0, 0.2);
}
.main-container{
   align-items: center;
   justify-content: center;
   align-content: center;
  /*padding-right:12.0rem; */
  padding-top:4.0rem;
}

.my-image{
  position:absolute;
  width:80%;
  height:80%;
  top: 10.69%;
  left:20.31%;
  margin-bottom: 4.0rem;
} 
.my-images{
  position:absolute;
  width:80%;
  height:80%;
  top: 60.31%;
  left:20.31%;
  margin-bottom: 4.0rem;
} 
.sideImg{
  position: absolute;
  width: 67.5rem;
  height: 35.0rem;
  left: 39.0rem;
  top: 150.3rem;
  filter: drop-shadow(0rem 1.8rem 3.5rem rgba(17, 19, 24, 0.25));
  border-radius: 1.2rem;
}
.sideImgs{
  position: absolute;
  width: 67.5rem;
  height: 35.0rem;
  left: 112.5rem;
  top: 150.3rem;
  filter: drop-shadow(0rem 1.8rem 3.5rem rgba(17, 19, 24, 0.25));
  border-radius: 1.2rem;
}